*, *:before, *:after
  box-sizing: border-box

body
  font-family: $body-fontFamily
  font-size: $body-fontSize
  font-weight: $body-fontWeight
  line-height: $body-lineHeight
  letter-spacing: $body-letterSpacing
  color: $body-color

body, input, button, .btn
  -webkit-font-smoothing: antialiased

a
  cursor: pointer
  text-decoration: none
  color: $link-color
  &:hover
    color: $link-color--hover
    border-bottom: $link-borderBottom--hover

img
  display: block
  border: 0
  max-width: 100%

#{$headings}, p
  margin: 0
