$body-fontFamily: 'Open Sans', Helvetica, sans-serif
$body-fontSize: 14px
$body-lineHeight: 1.4
$body-fontWeight: 300
$body-letterSpacing: 0.03rem
$body-color: #334249

$link-color: #2980b9
$link-color--hover: darken($link-color, 7%)
$link-borderBottom--hover: 1px dotted $link-color--hover

$headings: h1, h2, h3, h4, h5, h6

$offset-vertical: 40px
$layout-constrained-width: 600px
